services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    WizaplaceFrontBundle\:
        resource: '../../'
        exclude: '../../{Twig,Entity,Repository,Service/SitemapGenerator.php}'
    WizaplaceFrontBundle\Service\RouterDecorator:
        decorates: router
        arguments:
            - '@WizaplaceFrontBundle\Service\RouterDecorator.inner'
    WizaplaceFrontBundle\Service\AttributeVariantUrlGenerator:
        public: true
    WizaplaceFrontBundle\Service\ProductUrlGenerator:
        public: true
    WizaplaceFrontBundle\Command\PushTranslationsCommand:
        arguments:
            $translatorBag: '@translator.default'
            $locales: '%locales%'
            $defaultLocale: '%kernel.default_locale%'
            $systemUserPassword: '%wizaplace.system_user_password%'
        public: true
    WizaplaceFrontBundle\Command\PullTranslationsCommand:
        arguments:
            $locales: '%locales%'
            $translationsDir: "%kernel.project_dir%/var/translations"
        public: true
    WizaplaceFrontBundle\Service\AuthenticationService:
        public: true
        arguments:
            $authManager: '@security.authentication.manager'
    WizaplaceFrontBundle\Security\AuthenticationFailureHandler:
        parent: 'security.authentication.failure_handler'
        autowire: true
        autoconfigure: false
        public: true
    WizaplaceFrontBundle\Security\AuthenticationSuccessHandler:
        parent: 'security.authentication.success_handler'
        autowire: true
        autoconfigure: false
        public: true
    WizaplaceFrontBundle\Security\UserDataMonologProcessor:
        autowire: true
        tags:
            - { name: monolog.processor, method: processRecord }

    wizaplace.http.log.formatter:
        class: GuzzleHttp\MessageFormatter
        arguments:
            - "Wizaplace API call: \"{method} {target}\" code:{code} error:\"{error}\""
    wizaplace.http.log:
        factory: 'GuzzleHttp\Middleware::log'
        class: 'callable'
        arguments:
            - '@logger'
            - '@wizaplace.http.log.formatter'
            - 'info'
    Kevinrob\GuzzleCache\Storage\Psr6CacheStorage:
        arguments:
            $cachePool: '@cache.app'
    Kevinrob\GuzzleCache\Strategy\PublicCacheStrategy:
        arguments:
            $cache: '@Kevinrob\GuzzleCache\Storage\Psr6CacheStorage'
    Kevinrob\GuzzleCache\CacheMiddleware:
        arguments:
            $cacheStrategy: '@Kevinrob\GuzzleCache\Strategy\PublicCacheStrategy'
    WizaplaceFrontBundle\Service\GuzzleCacheLoggerDecorator:
        decorates: 'Kevinrob\GuzzleCache\CacheMiddleware'
        autowire: true
        arguments:
            $cacheMiddleware: '@WizaplaceFrontBundle\Service\GuzzleCacheLoggerDecorator.inner'
    wizaplace.guzzle.handler:
        factory: 'GuzzleHttp\HandlerStack::create'
        class: 'GuzzleHttp\HandlerStack'
        calls:
            - ['push', ['@wizaplace.http.log', 'log']]
            - ['push', ['@Kevinrob\GuzzleCache\CacheMiddleware', 'http_cache']]
    wizaplace.http.client:
        class: GuzzleHttp\Client
        arguments:
            -
                base_uri: '%api.base_url%'
                handler: '@wizaplace.guzzle.handler'
                connect_timeout: '%api.connect_timeout%'
                read_timeout: '%api.read_timeout%'
                timeout: '%api.timeout%'
    Wizaplace\SDK\ApiClient:
        arguments: ['@wizaplace.http.client']
        public: true
    Wizaplace\SDK\Catalog\CatalogService:
        public: true
    Wizaplace\SDK\Catalog\CatalogServiceInterface:
        alias: 'Wizaplace\SDK\Catalog\CatalogService'
    Wizaplace\SDK\Catalog\Review\ReviewService:
        public: true
    Wizaplace\SDK\Basket\BasketService:
        public: false
    Wizaplace\SDK\Cms\BannerService:
        public: true
    Wizaplace\SDK\User\UserService:
        public: true
    Wizaplace\SDK\Order\OrderService:
        public: true
    Wizaplace\SDK\Image\ImageService:
        public: true
    Wizaplace\SDK\Seo\SeoService:
        public: true
    Wizaplace\SDK\Cms\CmsService:
        public: true
    Wizaplace\SDK\Company\CompanyService:
        public: true
    Wizaplace\SDK\Discussion\DiscussionService:
        public: true
    Wizaplace\SDK\MailingList\MailingListService:
        public: true
    Wizaplace\SDK\Favorite\FavoriteService:
        public: true
    Wizaplace\SDK\Translation\TranslationService:
        public: true
    WizaplaceFrontBundle\Service\FavoriteService:
        public: true
    WizaplaceFrontBundle\Service\ContactService:
        public: true
    WizaplaceFrontBundle\Service\CategoryTreeCacheDecorator:
        decorates: 'Wizaplace\SDK\Catalog\CatalogServiceInterface'
        arguments: ['@WizaplaceFrontBundle\Service\CategoryTreeCacheDecorator.inner']
    WizaplaceFrontBundle\Twig\AppExtension:
        arguments:
            $recaptchaKey: '%recaptcha.key%'
    Symfony\Component\HttpFoundation\Session\Flash\FlashBagInterface: '@session.flash_bag'
    Symfony\Component\Translation\Dumper\XliffFileDumper: '@translation.dumper.xliff'

parameters:
    api.connect_timeout: 3
    api.read_timeout: 5
    api.timeout: 5
    locales: ['%kernel.default_locale%']
